<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Manage Sports</h1>
        <br>

        <div class="table-responsive">
            <table class="table">
                <thead class="table-header">
                <tr>
                    <td><i class="fa fa-chevron-down"></i> Sports</td>
                    <td><i class="fa fa-chevron-down"></i> Action</td>
                </tr>
                <tr>
                    <td><input ng-model="model.newSport.name" type="text" class="form-control" id="sport" placeholder="Sport"></td>
                    <td>
                        <span ng-click="model.addSport(model.newSport)" class="glyphicon glyphicon-plus btn btn-primary"></span>
                    </td>
                </tr>
                </thead>
                <tbody class="table-body">
                <tr ng-repeat="sport in model.sports">
                    <td>{{sport.name}}</td>
                    <td>
                        <span ng-click="model.deleteSport(sport)" class="glyphicon glyphicon-remove btn btn-danger"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>