<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">Manage Members</h1>
    <br>

        <div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>
        <div ng-show="model.message" class="alert alert-success">{{model.message}}</div>

    <div class="table-responsive">
        <table class="table">
            <thead class="table-header">
            <tr>
                <td><i class="fa fa-chevron-down"></i> Username</td>
                <td><i class="fa fa-chevron-down"></i> Action</td>
            </tr>
            <tr>
                <td><input ng-model="model.selectUser.username" type="text" class="form-control" id="username" placeholder="Username" readonly></td>
                <td><input ng-model="model.selectUser.email" type="text" class="form-control" id="email" placeholder="Email Address"></td>
                <td>
                    <span ng-click="model.updateUserEmail(model.selectUser)" class="glyphicon glyphicon-ok btn btn-success">
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr ng-repeat="user in model.users" ng-class="{selected: $index==selectedIndex}">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span ng-click="model.deleteUser(user)" class="glyphicon glyphicon-remove btn btn-danger"></span>
                    <span ng-click="model.select(user)" class="glyphicon glyphicon-pencil btn btn-warning"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>