<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Users who like this news..
        </h1>

        <div class="card card-block">
            <h4 class="card-title">{{tasteNews.Title}}</h4>
            <p class="card-text">Content: {{tasteNews.Content}}</p>
            <a href="{{tasteNews.Url}}" class="btn btn-info">Read More..</a>
        </div>

        <hr>

        <div ng-repeat-start="sameTasteUser in sameTasteUsers">
            <div class="card card-block">
                <h4 class="card-title">Username: {{sameTasteUser.username}}</h4>
                <button ng-click="newsTheyLike($index)" type="submit" class="btn btn-success">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>News they like</button>
                <button ng-click="message($index)" type="submit" class="btn btn-primary">
                    <i class="fa fa-envelope" aria-hidden="true"></i>Message</button>
            </div>
        </div>
        <div ng-repeat-end></div>

    </div>
</div>