<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Users who like this news..
        </h1>

        <div class="card card-block">
            <h4 class="card-title">{{model.tasteNews.Title}}</h4>
            <p class="card-text">Content: {{model.tasteNews.Content}}</p>
            <a href="{{model.tasteNews.Url}}" class="btn btn-info">Read More..</a>
        </div>

        <hr>

        <div ng-repeat-start="sameTasteUser in model.sameTasteUsers">
            <div class="card card-block">
                <h4 class="card-title">Username: {{sameTasteUser.username}}</h4>
                <button ng-click="model.newsTheyLike(sameTasteUser)" type="submit" class="btn btn-success">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>News they like</button>

            </div>
        </div>
        <div ng-repeat-end></div>

    </div>
</div>