.form-horizontal .control-label {
    text-align: left;
}

.table-header {
    font-weight: bold;
}

.forms-plus {
    font-size: 20px;
}

.forms-ok {
    font-size: 20px;
    margin-left: 20px;
}

.forms-remove {
    font-size: 20px;
}

.forms-pencil {
    font-size: 20px;
    margin-left: 20px;
}

hr {
    border-color: darkgrey;
}

.form-field-glyphicon {
    font-size: 25px;
    text-align: right;
}

.glyphicon-hide {
    visibility: hidden;
}
