.table-header {
    font-weight: bold;
}

.glyphicon-plus {
    font-size: 20px;

}

.glyphicon-ok {
    font-size: 20px;
    margin-left: 20px;
}

.glyphicon-remove {
    font-size: 20px;
}

.glyphicon-pencil {
    font-size: 20px;
    margin-left: 20px;
}