<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Forms</h1>
    <br>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
        <li ng-show= "model.form" role="presentation"><a href="#/form/{{model.form._id}}/fields">Fields</a></li>
    </ul>
    <br>

    <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div ng-show="message" class="alert alert-success">{{message}}</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-header">
            <tr>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Form Name</td>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Action</td>
            </tr>
            <tr>
                <td><input ng-model="form.title" type="text" class="form-control" id="formname" placeholder="Form Name"></td>
                <td>
                    <a ng-click="addForm()"><span class="glyphicon glyphicon-plus btn btn-primary"></span></a>
                    <a ng-click="updateForm()"><span class="glyphicon glyphicon-ok btn btn-success"></span></a>
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr ng-repeat="form in forms | filter:currentUserForms" ng-class="{selected: $index==selectedIndex}">
                <td><a href="#/form/{{form._id}}/fields">{{form.title}}</a></td>
                <td>
                    <span ng-click="deleteForm($index)" class="glyphicon glyphicon-remove btn btn-danger"></span>
                    <span ng-click="selectForm($index)" class="glyphicon glyphicon-pencil btn btn-warning"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>