<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>
    <h2>Users</h2>
    <br>

    <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <div ng-show="message" class="alert alert-success">{{message}}</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-header">
            <tr>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Username</td>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Password</td>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Role</td>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Action</td>
            </tr>

            <tr>
                <td><input ng-model="user.username" type="text" class="form-control" id="username" placeholder="Username"></td>
                <td><input ng-model="user.password" type="password" class="form-control" id="pwd" placeholder="Password"></td>
                <td><input ng-model="user.role" type="text" class="form-control" id="role" placeholder="Role"></td>
                <td>
                    <a ng-click="addUser()"><span class="glyphicon glyphicon-plus btn btn-primary"></span></a>
                    <a ng-click="updateUser()"><span class="glyphicon glyphicon-ok btn btn-success"></span></a>
                </td>
            </tr>
            </thead>

            <tbody class="table-body">
            <tr ng-repeat="user in users" ng-class="{selected: $index==selectedIndex}">
                <td>{{user.username}}</td>
                <td>*****</td>
                <td>{{user.role}}</td>
                <td>
                    <span ng-click="deleteUser($index)" class="glyphicon glyphicon-remove btn btn-danger"></span>
                    <span ng-click="selectUser($index)" class="glyphicon glyphicon-pencil btn btn-warning"></span>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>