<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>
    <h2>Users</h2>
    <br>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-header">
            <tr>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Username</td>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Password</td>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Role</td>
                <td><span class="glyphicon glyphicon-triangle-bottom"></span> Action</td>
            </tr>
            <tr>
                <td><input type="text" id="username" placeholder="Username"></td>
                <td><input type="password" id="pwd" placeholder="Password"></td>
                <td><input type="text" id="role" placeholder="Role1, Role2"></td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-plus forms-plus"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-ok forms-ok"></span></a>
                </td>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr>
                <td>Alice</td>
                <td></td>
                <td>Student</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove forms-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil forms-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td>Bob</td>
                <td></td>
                <td>Faculty | Admin</td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove forms-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil forms-pencil"></span></a>
                </td>
            </tr>
            <tr>
                <td>Charlie</td>
                <td></td>
                <td></td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-remove forms-remove"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-pencil forms-pencil"></span></a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>