<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Recent News!
        </h1>

        <div ng-show="model.errorMessage" class="alert alert-danger">{{model.errorMessage}}</div>

        <div ng-repeat-start="news in model.recentNews">
            <div class="card card-block">
                <h4 class="card-title">{{news.Title}}</h4>
                <p class="card-text">Content: {{news.Content}}</p>
                <a href="{{news.Url}}" class="btn btn-info">Read More..</a>
                <button ng-click="model.like(news)" ng-disabled="news.isDisabled" type="submit" class="btn btn-success">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like</button>
                <button ng-click="model.otherMembers(news)" type="submit" class="btn btn-primary">
                    <i class="fa fa-users" aria-hidden="true"></i>Same Taste</button>
            </div>
        </div>
        <div ng-repeat-end></div>


    </div>
</div>