<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Recent News!
        </h1>

        <div ng-repeat-start="news in recentNews">
            <span ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="card card-block">
                    <h4 class="card-title">{{news.Title}}</h4>
                    <p class="card-text">Content: {{news.Content}}</p>
                    <a href="{{news.Url}}" class="card-link">Read More..</a>
                </div>
            </span>
        </div>
        <div ng-repeat-end></div>


    </div>
</div>